/* =============================================================================
 * CUSTOM SEARCH COMPONENT
 * ============================================================================= */
.search-container-wrapper {
    position: relative;
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    z-index: 10;
}


.search-white,
.search-border,
.search-darkBorderBg,
.search-glow {
    max-height: 70px;
    max-width: 314px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 12px;
    filter: blur(3px);
}

.search-input {
    background-color: #546c84 !important;
    border: none !important;
    width: 301px !important;
    height: 56px !important;
    border-radius: 10px !important;
    color: white !important;
    padding-inline: 59px !important;
    font-size: 18px !important;
}

#search-poda {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-input::placeholder {
    color: #c0b9c0;
}

.search-input:focus {
    outline: none;
}

#search-main-container:focus-within>#input-mask {
    display: none;
}

#input-mask {
    pointer-events: none;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 70px;
}

#pink-mask {
    pointer-events: none;
    width: 30px;
    height: 20px;
    position: absolute;
    background: var(--primary, #6366f1);
    top: 10px;
    left: 5px;
    filter: blur(20px);
    opacity: 0.8;
    transition: all 2s;
}

#search-main-container:hover>#pink-mask {
    opacity: 0;
}

.search-white {
    max-height: 63px;
    max-width: 307px;
    border-radius: 10px;
    filter: blur(2px);
}

.search-white::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    background-image: conic-gradient(rgba(8, 65, 223, 0) 0%,
            #818cf8,
            rgba(0, 0, 0, 0) 8%,
            rgba(0, 0, 0, 0) 50%,
            #6366f1,
            rgba(0, 0, 0, 0) 58%);
    transition: all 2s;
}

.search-border {
    max-height: 59px;
    max-width: 303px;
    border-radius: 11px;
    filter: blur(0.5px);
}

.search-border::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 600px;
    height: 600px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(#1c191c,
            #402fb5 5%,
            #1c191c 14%,
            #1c191c 50%,
            #6366f1 60%,
            #1c191c 64%);
    transition: all 2s;
}

.search-darkBorderBg {
    max-height: 65px;
    max-width: 312px;
}

.search-darkBorderBg::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0),
            #18116a,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 50%,
            #4f46e5,
            rgba(0, 0, 0, 0) 60%);
    transition: all 2s;
}

#search-poda:hover>.search-darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(262deg);
}

#search-poda:hover>.search-glow::before {
    transform: translate(-50%, -50%) rotate(240deg);
}

#search-poda:hover>.search-white::before {
    transform: translate(-50%, -50%) rotate(263deg);
}

#search-poda:hover>.search-border::before {
    transform: translate(-50%, -50%) rotate(250deg);
}

#search-poda:hover>.search-darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(-98deg);
}

#search-poda:hover>.search-glow::before {
    transform: translate(-50%, -50%) rotate(-120deg);
}

#search-poda:hover>.search-white::before {
    transform: translate(-50%, -50%) rotate(-97deg);
}

#search-poda:hover>.search-border::before {
    transform: translate(-50%, -50%) rotate(-110deg);
}

#search-poda:focus-within>.search-darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(442deg);
    transition: all 4s;
}

#search-poda:focus-within>.search-glow::before {
    transform: translate(-50%, -50%) rotate(420deg);
    transition: all 4s;
}

#search-poda:focus-within>.search-white::before {
    transform: translate(-50%, -50%) rotate(443deg);
    transition: all 4s;
}

#search-poda:focus-within>.search-border::before {
    transform: translate(-50%, -50%) rotate(430deg);
    transition: all 4s;
}

.search-glow {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 130px;
    max-width: 354px;
}

.search-glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 999px;
    height: 999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(#000,
            #402fb5 5%,
            #000 38%,
            #000 50%,
            #6366f1 60%,
            #000 87%);
    transition: all 2s;
}

#filter-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    max-height: 40px;
    max-width: 38px;
    height: 100%;
    width: 100%;
    isolation: isolate;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(180deg, #161329, black, #1d1b4b);
    border: 1px solid transparent;
}

.filterBorder {
    height: 42px;
    width: 40px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 7px;
    border-radius: 10px;
    z-index: 1;
}

.filterBorder::before {
    content: "";
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.35);
    background-image: conic-gradient(rgba(0, 0, 0, 0),
            #3d3a4f,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 50%,
            #3d3a4f,
            rgba(0, 0, 0, 0) 100%);
    animation: rotate 4s linear infinite;
}

#search-main-container {
    position: relative;
}

#search-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}